
html, body {
    border: 0 none;
    margin: 0;
    padding: 0;
}
@font-face{
	font-family : "pokevide";
    src : url('Pokemon\ Hollow.ttf');
    font-style:normal;
}
@font-face{
	font-family : "poketitre";
    src : url('Pokemon\ Solid.ttf');
    font-style:plain;
}
@font-face{
	font-family : "pokegb";
    src : url('Pokemon\ GB.ttf');
    font-style:gb;
}
body {
    background-color: #3D3D3D;
    background-image: url("../images/back.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    height: 1100px;
    margin-left: 300px;
    text-align: center;
    width: 900px;
    font-family: "pokegb", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#main {
    color: #888888;
    font-family: "pokegb", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 4em auto;
    padding: 3em;
    text-align: center;
    width: 80%;
}
#header {
    height: 390px;
}
#tableau {
    background: none repeat scroll 0 0 #D3D3D3;
    width: 900px;
}
#recherche {
    height: auto;
    width: 256px;
}
.recherche {
	font-family : "poketitre", Helvetica, Arial, sans-serif;
	color: white;
 }

.left {
    float: left;
    margin-left: 1.6em;
    width: 300px;
}
.right {
    float: right;
    text-align: left;
    width: 360px;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    color: #999999;
    font-size: 1.1em;
    margin: 1em 0 0 1.6em;
}
a {
    color: #F0F0F0;
    text-decoration: none;
}
a:visited {
    color: #F0F0F0;
}
a:hover {
    color: #9370DB;
    text-decoration: underline;
}
.center {
    font-size: 1em;
    margin: 3em 0;
    text-align: center;
}
th {
	font-family : "pokevide", Helvetica, Arial, sans-serif;
	font-size: 20px;
}
