
html, body {
    border: 0 none;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "pokevide";
    font-style: normal;
    src: url("PokemonHollow.ttf");
}
@font-face {
    font-family: "poketitre";
    src: url("PokemonSolid.ttf");
}
@font-face {
    font-family: "pokegb";
    src: url("PokemonGB.ttf");
}
body {
    background-color: #3D3D3D;
    background-image: url("../images/back.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: "pokegb",Helvetica,Arial,sans-serif;
    font-size: 18px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 960px;
}
#header {
    height: 390px;
}
#tableau {
    background: none repeat scroll 0 0 #D3D3D3;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 15px 2px;
    width: 960px;
    position: relative;
    top:-255px;
}
#recherche {
    height: 120px;
    display:block;
    color:white;
}
#stats {
	background: none repeat scroll 0 0 #D3D3D3;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 15px 2px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#stats {
	background: none repeat scroll 0 0 #D3D3D3;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 15px 2px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#csv {
	background: none repeat scroll 0 0 #D3D3D3;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 15px 2px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.recherche {
    color: #FFFFFF;
    font-family: "poketitre",Helvetica,Arial,sans-serif;
}
#recherche > #bloc_texte {
	float:left;
	width:470px;
	display:inline-block;
}
#recherche > #bloc_check {
	float:rigth;
	width:470px;
	display:inline-block;
}
div#avatar {
	background-image: url(../images/leo.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 180px;
	position:relative;
	left:50px;
	top:-180px;
	z-index:-1;
}
div#bulle {
	background-image: url(../images/bulle_base.jpg);
	background-repeat: no-repeat;
	width: 253px;
	height: 72px;
	position:relative;
	left:210px;
	top:-280px;
	z-index:-1;
}
div#fond_recherche {
	background-color:grey;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 0.9em;
}
a {
    color: #F0F0F0;
    text-decoration: none;
}
a:visited {
}
a:hover {
}
.center {
    font-size: 1em;
    margin: 3em 0;
    text-align: center;
}
th {
    font-family: "pokevide",Helvetica,Arial,sans-serif;
    font-size: 20px;
}
tbody > tr:hover {
	color: white;
	background: grey;
}
